  <div class="login-container">
    <h2>Iniciar Sesión</h2>

    <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>

    <!-- Mensaje de error -->
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="login()">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>

      <button type="submit">Iniciar Sesión</button>
    </form>

    <button (click)="loginWithGoogle()">Iniciar con Google</button>

    <p class="forgot-password-text styled-text">
      ¿Olvidaste tu contraseña?  
      <span class="forgot-password-link styled-link" (click)="openResetPasswordModal()">Recupérala aquí</span>
    </p>            
    
    <p class="register-text styled-text">¿No tienes cuenta? 
      <span class="register-link styled-link" (click)="openRegister()">Regístrate</span>
    </p>    

  </div>
