<!-- Menú fijo superior -->
<div class="menu">
    <button (click)="irAInventario()">
        <img src="assets/fotos/vaca-inventario.png" alt="Inventario" width="30" height="30"> Inventario
    </button>
    <button (click)="irAIa()">
        <img src="assets/fotos/vaca-ia.png" alt="IA" width="30" height="30"> IA
    </button>
    <button class="logout-button" (click)="cerrarSesion()">
        <img src="assets/fotos/cerrar-login.png" alt="Cerrar Sesión" width="30" height="30"> Cerrar Sesión
    </button>
</div>
